.App {
  background-image: url("../wheat.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#root {
  height: 100vh;

}

.fork_logo {
  margin: auto;
  width: 50%;
  padding: 20px;
  opacity: .6;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 100px;
}

.modal-title {
  color: white;
}
.modal-header {
  background-color: #c6a530;
  image-rendering:  '../forkcircle.png'
}
.modal-content {
  background-color: whitesmoke;
  opacity: .85;
  background-size: 180%;
  background-repeat: no-repeat;
    color: black;
    font-weight: 800;
    border: solid #c6a530 3px;
    align-content: center;
}


p2{
  align-items: center;
}

.usernameText{
  color:black;
}
Input#usernameInput {
  opacity: .6;
}
input#passwordInput {
  opacity: .6;
}
input#password2Input {
  opacity: .6;
}
h {
  color: white
}
b{
  color:black;
}
p {
 color: black;
}

input {
  opacity: .6;
}

h#title {
  background-color: rgb(93, 112, 251);
}

.copyright {
  font-size: 8pt;
  width: fit-content;
  height: fit-content;
  margin: -25px;
  opacity: .6;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: floralwhite;

}

.headerMenu {
  display: flex;
  position: absolute;
  right: 0;
  padding: 8px;
  background-blend-mode: luminosity 1;
  opacity: .6;
  flex-direction: column;
}

.dropDownNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column-reverse;

}

.copyandLogo {
display: flex;
justify-content: space-between;
align-items: baseline;
}

.alert {
  position: absolute !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-left: -650%;
  width: max-content !important;
  z-index: 5 !important;
}