<<<<<<< HEAD
.Menubuttons {

display: flex;
align-content: flex-start;
justify-content: flex-start;
}

/* .buttons {
=======
.menuButtons {
    background-color: #c6a530;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    }
    
.buttons {
>>>>>>> f69dfd211f3aee586481885d908577f2dabfd0f0
    display: flex;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    flex-direction: row-reverse;
<<<<<<< HEAD
} */

.buttons{

    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 100vh;
    align-self: flex-end;
}
=======
}
    
>>>>>>> f69dfd211f3aee586481885d908577f2dabfd0f0
body {
    display: flex;
    justify-content: center;
}
    
button.closeButton {
    display: flex;
    justify-content: flex-end;
}
    
.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
    